* {
    margin: 0;
    padding: 0;
}
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 2fr 1.9fr 0.5fr 0.6fr;
    grid-template-areas:
    "header header"
    "section-1 aside-top"
    "section-1 aside-bottom"
    "section-2 section-2"
    "footer footer"
;
}
header, .section-2 {
    background: #D9D9D9;
}
header {
    grid-area: header;
}
.section-1 {
    grid-area: section-1;
    background: #A4A4A4;
}
.aside-top {
    grid-area: aside-top;
    background: #7F7A7A;
}
.aside-bottom {
    grid-area: aside-bottom;
    background: #615050;
}
.section-2 {
    grid-area: section-2;
}
footer {
    grid-area: footer;
    background: #AFA9A9;
}
