body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dcd9d9;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.texth1h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;

}

.products {
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 4px solid #989292;
    flex-direction: column;
    font-size: 20px;
    font-style: initial;
}
.products img {
    width: 70%;
}